## .NET
bin/
obj/
*.user
*.suo
*.sln.docstates

## VS Code / IDE
.vs/
.vscode/
*.rsuser
*.csproj.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
packages/
*.nupkg

## OS
Thumbs.db
.DS_Store
